
/*This is a comment in CSS*/

body{
    font-family: Verdana, sans-serif;
    margin: 0;
}

h1{
    font-size: 30px;
    
}

p{
    font-size: 16px;
}

header{
    padding:0 3%;
}

main{
    width:100%;
    max-width:1400px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 3%;

}

footer{
    width:100%;
    min-height:100px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item1{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 5px;
}
.flex-item2{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 5px;
}
.flex-item3{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 5px;
}
.flex-item4{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 5px;
}
/* .flex-item5{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 5px;
}

.flex-item6{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 5px;
}

.flex-item7{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 5px;
}

.flex-item8{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 5px;
}

.flex-item9{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 5px;
} */

.flex-item10{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 5px;
}

.flex-item11{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 5px;
}

.flex-item12{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 5px;
}

.flex-item13{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 5px;
}

.flex-item14{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 5px;
}

.flex-item15{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 5px;
}

.flex-item1 a{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/1.jpeg); 
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#ffffff;
    transition: all 0.2s; 
}

.flex-item2 a{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/2.jpeg);
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#4f4f4f;
    transition: all 0.2s;
}

.flex-item3 a{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/3.jpg); 
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#ffffff;
    transition: all 0.2s;
}

.flex-item4 a{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/4.jpg); 
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#4f4f4f;
    transition: all 0.2s;
}
/* 
.flex-item5 a{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/lightgrey-line.jpeg); 
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#4f4f4f;
    transition: all 0.2s; 
}

.flex-item6 a{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/5.jpg); 
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#4f4f4f;
    transition: all 0.2s; 
}

.flex-item7 a{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/repeating-diagonal-lines.jpeg); 
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#4f4f4f;
    transition: all 0.2s; 
}

.flex-item8 a{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/6.jpg); 
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#4f4f4f;
    transition: all 0.2s; 
}

.flex-item9 a{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/8.png); 
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#4f4f4f;
    transition: all 0.2s; 
} */

.flex-item10 a{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/9.png); 
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#4f4f4f;
    transition: all 0.2s; 
}

.flex-item11 a{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/10.png); 
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#4f4f4f;
    transition: all 0.2s; 
}

.flex-item12 a{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/11.png); 
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#4f4f4f;
    transition: all 0.2s; 
}

.flex-item13 a{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/12.png); 
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#4f4f4f;
    transition: all 0.2s; 
}

.flex-item14 a{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/7.png); 
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#4f4f4f;
    transition: all 0.2s; 
}

.flex-item15 a{
    display: flex;
    width: 100%;
    height: 0;
    padding: 30% 0;
    background-image: url(../assets/images/15.png); 
    background-position: center;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color:#4f4f4f;
    transition: all 0.2s; 
}



.flex-item1 a:hover{
    color:#bbbbbb;
    background-size: 120%;
}

.flex-item2 a:hover{
    color:#bbbbbb;
    background-size: 120%;
}

.flex-item3 a:hover{
    color:#bbbbbb;
    background-size: 120%;
}

.flex-item4 a:hover{
    color:#bbbbbb;
    background-size: 120%;
}
/* 
.flex-item5 a:hover{
    color:#bbbbbb;
    background-size: 120%;
}

.flex-item6 a:hover{
    color:#bbbbbb;
    background-size: 120%;
}

.flex-item7 a:hover{
    color:#bbbbbb;
    background-size: 120%;
}

.flex-item8 a:hover{
    color:#bbbbbb;
    background-size: 120%;
}

.flex-item9 a:hover{
    color:#bbbbbb;
    background-size: 120%;
} */

.flex-item10 a:hover{
    color:#bbbbbb;
    background-size: 120%;
}

.flex-item11 a:hover{
    color:#bbbbbb;
    background-size: 120%;
}

.flex-item12 a:hover{
    color:#bbbbbb;
    background-size: 120%;
}

.flex-item13 a:hover{
    color:#bbbbbb;
    background-size: 120%;
}

.flex-item14 a:hover{
    color:#bbbbbb;
    background-size: 120%;
}

.flex-item15 a:hover{
    color:#bbbbbb;
    background-size: 120%;
}

.flex-item1 h4{
    margin:10px;
    background-color: #4f4f4f;
    padding:5px 10px;
 }

 .flex-item2 h4{
    margin:10px;
    background-color: white;
    padding:5px 10px;
 }

 .flex-item3 h4{
    margin:10px;
    background-color: #4f4f4f;
    padding:5px 10px;
 }

 .flex-item4 h4{
    margin:10px;
    background-color: white;
    padding:5px 10px;
 }
/* 
 .flex-item5 h4{
    margin:10px;
    background-color: white;
    padding:5px 10px;
 }

 .flex-item6 h4{
    margin:10px;
    background-color: white;
    padding:5px 10px;
 }

 .flex-item7 h4{
    margin:10px;
    background-color: white;
    padding:5px 10px;
 }

 .flex-item8 h4{
    margin:10px;
    background-color: white;
    padding:5px 10px;
 }

 .flex-item9 h4{
    margin:10px;
    background-color: white;
    padding:5px 10px;
 } */

 .flex-item10 h4{
    margin:10px;
    background-color: white;
    padding:5px 10px;
 }

 .flex-item11 h4{
    margin:10px;
    background-color: white;
    padding:5px 10px;
 }

 .flex-item12 h4{
    margin:10px;
    background-color: white;
    padding:5px 10px;
 }

 .flex-item13 h4{
    margin:10px;
    background-color: white;
    padding:5px 10px;
 }

 .flex-item14 h4{
    margin:10px;
    background-color: white;
    padding:5px 10px;
 }

 .flex-item15 h4{
    margin:10px;
    background-color: white;
    padding:5px 10px;
 }

@media screen and (max-width: 1200px) {

    .flex-item1{
        flex-basis: 33.33%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item2{
        flex-basis: 33.33%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item3{
        flex-basis: 33.33%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item4{
        flex-basis: 33.33%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item5{
        flex-basis: 33.33%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item6{
        flex-basis: 33.33%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item7{
        flex-basis: 33.33%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item8{
        flex-basis: 33.33%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item9{
        flex-basis: 33.33%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item10{
        flex-basis: 33.33%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item11{
        flex-basis: 33.33%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item12{
        flex-basis: 33.33%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item13{
        flex-basis: 33.33%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item14{
        flex-basis: 33.33%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item15{
        flex-basis: 33.33%; /*width of the box, take up a quarter of the parent's size*/
    }
}

/* Large */
@media screen and (max-width: 992px) {

}

/* Medium */
@media screen and (max-width: 768px) {
    
    .flex-item1{
        flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item2{
        flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item3{
        flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item4{
        flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item5{
        flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item6{
        flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item7{
        flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item8{
        flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item9{
        flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item10{
        flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item11{
        flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item12{
        flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item13{
        flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item14{
        flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item15{
        flex-basis: 50%; /*width of the box, take up a quarter of the parent's size*/
    }
}

/* Small */
@media screen and (max-width: 576px) {
    /* body {
      background-color: blue;
    } */

    .flex-item1{
        flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item2{
        flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item3{
        flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item4{
        flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item5{
        flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item6{
        flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item7{
        flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item8{
        flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item9{
        flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item10{
        flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item11{
        flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item12{
        flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item13{
        flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item14{
        flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
    }
    .flex-item15{
        flex-basis: 100%; /*width of the box, take up a quarter of the parent's size*/
    }
}